@import url('https://fonts.googleapis.com/css?family=Indie+Flower:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*---------------------------------------Body*/



article {
    background-color: #000;
    
    
}


body {
    
    background-color: #ECF0F1;
    
}




h1,
h2,
h3,
h4 {
    margin: 0;
    
}

.nav {
    font-family: "Exo" sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.nav a {
    color: #07A2FE;
    padding: 0;
    
}
.change {
    position: relative;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #283747;
}

.read-me {
    color: red;
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 18px;
    
}

.about {
    color: #283747;
}

.vid-header {
    position: relative;
    text-align: center;
    color: white;
    
}


.detail {
    text-align: left;
}

.detail2 {
    text-align: left;
    padding-bottom: 20px;
}

.newsletter {
    margin-top: 10px;
    margin-bottom: 20px;
    color: #283747;
}

.form-control {
    color: #283747;
}

.form-inline {
    padding-bottom: 20px;
}

/*---------------------------------------Body*/

/*-----------------------------------Colors*/ 
.bg-colors-title {
    color: #fafafa;
}
/*-----------------------------------Colors*/ 





.blog {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    font-size: 45px;
}

.blog2 {
    font-family: "Exo", sans-serif;
    font-weight: 600;
     font-size: 17px;
     text-align: center;
    color: #283747;
    margin-top: 15px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.blog2 p {
    font-family: "Exo", sans-serif;
    font-weight: 600;
     font-size: 17px;
    color: #fafafa;
    margin-top: 15px;
    margin-bottom: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}



.header {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
    margin-top: 20px;
}

.header-subhead {
    font-family: "Exo", sans-serif;
    font-weight: 200;
    font-size: 15px;
}



section p {
    color: #fafafa;
}

.contacts {
   padding-top: 40px;
   padding-right: 20px;
}

.para {
    color: #283747;
}





.grid-element p {
    color: #283747;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contacts a {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fafafa;
}

.list-block a {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fafafa;
    margin-bottom: 20px;
}

.text-uppercase {
    padding-left: 40px;
    font-family: "Exo", sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.testimonal {
    color: #283747;
    padding-left: 20px;
    padding-bottom: 20px;
}


    

/*-----------------------------------Social*/

.social-links   {
    margin-left: 0px;
    text-align: right;
}

.social-links2   {
    margin-left: 0px;
    text-align: left;
}

.fa {
  padding: 20px;
  font-size: 22px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa-facebook:hover {
    opacity: 0.7;
    color: 	#3b5998;
    font-size: 60px;
}
.fa-twitter:hover {
    opacity: 0.7;
    color: #1da1f2;
    font-size: 60px;
}
.fa-linkedin:hover {
    opacity: 0.7;
    color: #4875b4;
    font-size: 60px;
}
.fa-youtube:hover {
    opacity: 0.7;
    color: #ff3333;
    font-size: 60px;
}
.fa-google:hover {
    opacity: 0.7;
    color: #c63d2d;
    font-size: 60px;
}

.fa-pinterest:hover {
    opacity: 0.7;
    color: #c8232c;
    font-size: 60px;
}


.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #1da1f2;
}
.fa-linkedin {
  color: #4875B4;
}

.fa-youtube {
  color: #ff3333;
}

.fa-google {
  color: #C63D2D;
}

.fa-pinterest {
  color: #c8232c;
}




/*-----------------------------------Social*/

/*-----------------------------------Logo's & Images*/

#logo2 {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo {
    float: left;
}

.logo3 {
    float:left;
    padding-top: 20px;
}

.image {
    text-align: center;
    margin-bottom: 20px;
    border-radius: 50%;
}


.image2 {
    width: 25%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;

}

.top {
    text-align: center;
    padding-top: 20px;
}

.bg-photo {
    
    text-align: center;
    color: white;
    margin-top: 20px;
   
    padding-bottom: 20px;
}

.btn-default {
    background-color: #07A2FE;
    color: #fafafa;
}

.btn-default:hover {
    background-color: #fafafa;
    color: #07a2fe;
}

.btn-primary {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.btn-primary:hover {
    background-color: #fafafa;
    color: #07a2fe;
}



/*-----------------------------------Logo's & Images and Hovers*/

.test-image {
    text-align: center;
    padding-top: 20px;
}


.my-photo {
    padding-top: 20px;
}

.small-photo {
    padding-bottom: 20px;
}
.nav {
    font-family: "Exo" sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.nav a {
    color: #283747;
    
}
.donate {
    position: relative;
    text-align: center;
    color: #fafafa;
}

.vid-header {
        position: relative;
    text-align: center;
    color: white;
    
}
 
 /*------------------------------------------Footer*/
 
 article {
     padding-bottom: 20px;
 }
footer {
    background-color: #000;
    border-radius: 10%;
    padding-top: 20px;
    
   
}

.copy-right {
    margin-left: 60px;
}
 
  /*------------------------------------------Footer*/
  
  /*------------------------------------------Media Queries*/
  
  @media(max-width: 767px) {
      .header {
          text-align: center;
          margin-top: 20px;
      }
  }
  
  @media(max-width: 767px) {
      .header-subhead {
          margin-left: 40px;
      }
  }
  
  @media(min-width: 992px) {
      footer {
          width: 100%;
      }
  }
  
 
  
  @media(max-width: 767px) {
      .contacts {
          text-align: left;
      }
  }
  
  @media(min-width: 767px) {
      .logo3  {
          padding-right: 20px;
      }
  }
  
    @media(min-width: 992px) {
      .logo3  {
          padding-right: 20px;
      }
  }
  
  @media(min-width: 992px) {
      .big-photo {
          margin-right: 30px;
      }
  }
  
  @media(max-width: 767px) {
      .top{
          margin-right: 30px;
      }
  }
  
  @media(min-width: 992px) {
      .main {
          padding-left: 50px;
      }
  }
  

  
 
  

  /*------------------------------------------Media Queries*/



